body {
  /* background-color: azure; */
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */

.navbar {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 -0.4rem 1rem black;
  margin-bottom: 2rem;
}

.navbar-brand {
  display: flex;
  width: 10rem;
  justify-content: space-between;
  margin-right: 3rem;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
  transition: 0.3s linear;
  margin-right: 1rem;
}

.navbar-brand:hover > .fa-compass {
  text-shadow: 0 0 3px #fe424d;
}

.brand-name {
  transition: 0.3s linear;
  font-size: 1.5rem;
}

.navbar-brand:hover > .brand-name {
  font-weight: bold;
}

.navbar-collapse {
  transition: 0.4s ease-in;
  background-color: #fff;
}

.nav-link {
  color: #222;
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.3s linear;
  margin: auto 0.5rem;
}

.nav-link:hover {
  background-color: #ff868e;
  color: #fff;
}

.nav-link:active {
  background-color: #ff1a29;
  transition: none;
  border: 1px solid #cb000e;
}

/* Cards */
.row a {
  text-decoration: none;
}

.listing-card {
  border: none;
  margin-bottom: 3rem;
}
.card-img {
  /* height: 20rem; */
  border-radius: 1rem;
  overflow: hidden;
}

.card-img-top {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.15;
  transition: 0.3s ease-in-out;
}

.listing-card:hover > .card-img .card-img-top {
  scale: 1;
  transition: 0.3s ease-in-out;
}

.card-img-overlay {
  opacity: 0.2;
  background-color: white;
  /* height: 20rem; */
  transition: 0.3s ease-in-out;
}

.listing-card:hover > .card-img-overlay,
.card-img-overlay:hover {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card-body,
.listing-body {
  padding: 0;
  transition: 0.3s ease-in-out;
}

.listing-card:hover > .listing-body {
  text-shadow: 0 0 3px silver;
  transition: 0.3s ease-in-out;
}

.desc {
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0 0 1rem 0.5rem;
}

/* Add Listing */
.add-btn {
  background-color: #fe424d;
  border: none;
  transition: 0.2s ease-in;
}

.add-btn:hover,
.edit-btn:hover {
  background-color: #ff1a29;
  box-shadow: 0 0 0.5rem #ff1121;
  font-weight: 800;
}

/* Edit Listing */
.edit-btn {
  background-color: #ff5b66;
  border: none;
  min-width: 5rem;
  transition: 0.2s ease-in;
}

.btn-dark {
  transition: 0.2s ease-in;
  background-color: #333;
}

.btn-dark:hover {
  background-color: #000;
  box-shadow: 0 0 0.5rem #333;
}

/* Show Listing */
.show-img {
  height: 30vh;
  margin-bottom: 1rem;
  scale: 1;
}

.show-card {
  /* padding-left: 0; */
  padding-right: 0;
}

.btns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Footer */
footer {
  margin-top: auto;
}

.f-info {
  display: flex;
  flex-wrap: wrap;
  height: 8rem;
  background-color: #ebebeb;
  padding-bottom: 1rem;
  text-align: center;
  justify-content: center;
  align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.6rem;
  padding: 0.15rem 0.65rem;
  margin: 0.5rem 0;
  transition: 0.3s linear;
  cursor: pointer;
}

.f-info-socials i:hover {
  scale: 1.4;
  transition: 0.3s linear;
}

.fa-brands {
  transition: 0.3s linear;
}

.fa-square-facebook:hover {
  color: #106bff;
}

.fa-square-instagram:hover {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-linkedin:hover {
  color: #087bb9;
}

.f-info-brand {
  color: #fe424d;
  cursor: pointer;
  transition: 0.3s linear;
}

.f-info-brand:hover {
  font-size: 1.1rem;
  font-weight: bolder;
  text-shadow: 0 0 1px #ff0b1b;
}

.f-info-links a {
  text-decoration: none;
  color: #222;
  margin: auto 0.5rem;
  transition: 0.3s linear;
}

.f-info-links a:hover {
  text-shadow: 0 0 1px #ff0b1b;
  text-decoration: underline;
  color: #ff0b1b;
}
