body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */

.navbar {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 -0.4rem 1rem black;
  margin-bottom: 2rem;
}

.navbar-brand {
  display: flex;
  width: 10rem;
  justify-content: space-between;
  margin-right: 3rem;
}

.fa-paper-plane {
  color: #fe424d;
  font-size: 2rem;
  transition: 0.3s linear;
  margin-right: 1rem;
}

.navbar-brand:hover > .fa-paper-plane {
  text-shadow: 0 0 2px #fe424d;
}

.brand-name {
  transition: 0.3s linear;
  font-size: 1.5rem;
}

.navbar-brand:hover > .brand-name {
  font-weight: bold;
}

.navbar-collapse {
  transition: 0.4s ease-in;
  background-color: #fff;
}

.search-inp {
  border-radius: 1.5rem;
  padding: 0.5rem 3rem;
  font-size: 1rem;
}

.search-btn {
  background-color: #fe424d;
  color: white;
  border-radius: 1.5rem;
  padding: 0 1rem;
}

.search-btn:hover {
  border: 1px solid #fe424d;
  color: #fe424d;
}

.search-btn:active {
  border: 1px solid #ff212f !important;
  color: #ff212f !important;
  box-shadow: 0 0 0.25rem #ff212f;
}

.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.nav-link {
  color: #222;
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.3s linear;
  margin: auto 0.5rem;
}

.nav-link:hover {
  background-color: #f65c66;
  color: #fff;
}

.nav-link:active {
  background-color: #ff2433;
  transition: none;
  border: 1px solid #cb000e;
}

/* Filter bar */

.scroll-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  cursor: pointer;
}

.left-arrow {
  order: -1;
}

.right-arrow {
  order: 1;
}

.left-arrow i,
.right-arrow i {
  font-size: 1.2rem;
}

.filter-bar,
.filter-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#filters {
  display: flex;
  scroll-behavior: smooth;
  margin-right: 1rem;
}

#filters::-webkit-scrollbar {
  display: none;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0.2rem 1rem;
  opacity: 0.5;
  text-decoration: none;
  color: #000;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.2s linear;
}

.filter:hover > .underline {
  opacity: 0.5;
  transition: 0.2s linear;
}

.filter span {
  font-size: 0.8rem;
}

.overflow-auto {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.underline {
  width: 95%;
  margin: 0.5rem auto;
  height: 0.1rem;
  background-color: black;
  opacity: 0;
}

.line {
  width: 1px;
  color: black;
  background-color: #000;
  opacity: 0.25;
  padding: 0;
}

.tax-toggle {
  display: flex;
  justify-content: end;
  border-radius: 1rem;
  min-height: 2.5rem;
  max-height: 4.5rem;
}

.form-switch {
  padding: 0.5rem;
}

.tax-toggle label {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.tax-info {
  display: none;
}

.heading {
  margin-top: 2.5rem;
  width: max-content;
}

/* Cards */
.row a {
  text-decoration: none;
}

.listing-card {
  border: none;
  margin-bottom: 1.5rem;
}
.card-img {
  border-radius: 1rem;
  overflow: hidden;
}

.card-img-top {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.15;
  transition: 0.3s ease-in-out;
}

.listing-card:hover > .card-img .card-img-top {
  scale: 1;
  transition: 0.3s ease-in-out;
}

.overlay {
  opacity: 0.14;
  background-color: white;
  /* height: 20rem; */
  transition: 0.3s ease-in-out;
}

.listing-card:hover > .overlay,
.overlay:hover {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card-body,
.listing-body {
  padding: 0;
  transition: 0.3s ease-in-out;
}

.listing-card:hover > .listing-body {
  text-shadow: 0 0 3px silver;
  transition: 0.3s ease-in-out;
}

.desc {
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin: 0 0 1rem 0;
}

/* Add Listing */
.add-btn {
  background-color: #fe424d;
  border: none;
  transition: 0.2s ease-in;
}

.add-btn:hover,
.edit-btn:hover {
  background-color: #ff1a29;
  box-shadow: 0 0 0.5rem #ff1121;
  font-weight: 800;
}

.add-btn:active,
.edit-btn:active {
  transition: none;
  background-color: #fb0d1d !important;
  box-shadow: 0 0 1rem #ff0718;
}

/* Edit Listing */
.edit-btn {
  background-color: #ff5b66;
  border: none;
  min-width: 5rem;
  transition: 0.2s ease-in;
}

.btn-dark {
  transition: 0.2s ease-in;
  background-color: #333;
}

.btn-dark:hover {
  background-color: #000;
  box-shadow: 0 0 0.5rem #333;
}

.previewImage {
  border-radius: 1rem;
  box-shadow: 0 0 0.2rem black;
}

/* Show Listing */
.show-img {
  height: 30vh;
  scale: 1;
}

.btns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#map {
  height: 40vh;
  width: 100%;
}

/* Footer */
footer {
  margin-top: auto;
}

.f-info {
  display: flex;
  flex-wrap: wrap;
  height: 8rem;
  background-color: #ebebeb;
  padding-bottom: 1rem;
  text-align: center;
  justify-content: center;
  align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.6rem;
  padding: 0.15rem 0.65rem;
  margin: 0.5rem 0;
  transition: 0.3s linear;
  cursor: pointer;
}

.f-info-socials i:hover {
  scale: 1.4;
  transition: 0.3s linear;
}

.fa-brands {
  transition: 0.3s linear;
}

.fa-square-instagram:hover {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-square-github:hover {
  color: #080808;
}

.fa-square-x-twitter:hover {
  color: #080808;
}

.fa-linkedin:hover {
  color: #087bb9;
}

.f-info-brand {
  color: #fe424d;
  cursor: pointer;
  transition: 0.3s linear;
}

.f-info-brand:hover {
  font-size: 1.1rem;
  font-weight: bolder;
  text-shadow: 0 0 1px #ff0b1b;
}

.f-info-links a,
.f-info-socials a {
  text-decoration: none;
  color: #222;
  transition: 0.3s linear;
}

.f-info-links a {
  margin: auto 0.5rem;
}

.f-info-links a:hover {
  text-shadow: 0 0 1px #ff0b1b;
  text-decoration: underline;
  color: #ff0b1b;
}
